// Margin
//
// example: .m-t-3

$marginSizes: 0 5 10 15 20 30 40 60

@for $idx from 1 through length($marginSizes)
  $size: nth($marginSizes, $idx)

  .m#{$idx - 1}
    margin: $size !important

  .mt#{$idx - 1}
    margin-top: $size !important

  .mb#{$idx - 1}
    margin-bottom: $size !important

  .ml#{$idx - 1}
    margin-left: $size !important

  .mr#{$idx - 1}
    margin-right: $size !important
